body {
    background-color:black;
    color:      #FFFFFF;
    font-weight:bold;
    font-size:  80%;
}

.wcTableLabel {
    float:      left;
}

.wcTableValue {
    float:      right;
    width:      25%;
}
.wcValue {
    font-size:  250%;
    text-align: center;
}
