body {
    background-image:url("chicken.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:black;
    color:      #000000;
    font-weight:bold;
    font-size:  80%;
}

.wcTableLabel {
    float:      left;
}

.wcTableValue {
    float:      right;
    width:      25%;
}
.wcValue {
    font-size:  250%;
    text-align: center;
}
